<div id="loading" *ngIf="show">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    <p>图片正在上传，请稍后...</p>
  </div>
</div>
<app-header></app-header>
<div class="body-content">
  <h2>续投</h2>
  <form [formGroup]="formModel">
    <div class="form-horizontal">
      <hr />

      <div class="form-group">
        <label class="control-label col-md-2">会员账号</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="UserID" [readonly]="true"/>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('TJID').touched && formModel.get('TJID').invalid">
        <label class="control-label col-md-2">推荐人</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="TJID"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('TJID').touched && formModel.get('TJID').invalid">请填写推荐人</span>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('TJID').dirty && formModel.get('tjname').invalid">推荐人不存在</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">推荐人姓名</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="tjname" [readonly]="true"/>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('Moneys').touched && formModel.get('Moneys').invalid">
        <label class="control-label col-md-2">会费金额</label>
        <div class="col-md-10">
          <input type="number" formControlName="Moneys" min="10000" class="form-control" value="10000" />
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('Moneys').touched && formModel.get('Moneys').invalid">会费金额为万的整数倍</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">汇款小票</label>
        <div class="col-md-10">
          <input type="file" id="img3" ng2FileSelect [uploader]="uploader3" (change)="file3($event)" />
          <span class="field-validation-valid text-danger" ></span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button class="btn btn-success" (click)="onSubmit($event)" [disabled]="formModel.invalid">确定</button>
        </div>
      </div>
    </div>
  </form>
  <div>
    <a href="javaScript:history.go(-1);">返回列表</a>
  </div>

  <app-footer></app-footer>
</div>
