<app-header></app-header>
<div class="body-content">
  <h2>修改</h2>
  <form [formGroup]="formModel">
    <div class="form-horizontal">
      <hr />

      <div class="form-group">
        <label class="control-label col-md-2">办事处</label>
        <div class="col-md-10">
          <select formControlName="IsBaoDan" class="form-control">
            <option value="1">是</option>
            <option value="0">否</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">激活</label>
        <div class="col-md-10">
          <select formControlName="Action" class="form-control">
            <option value="1">是</option>
            <option value="0">否</option>
          </select>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('BaoDanCenter').touched && formModel.get('BaoDanCenter').invalid">
        <label class="control-label col-md-2">所属办事处</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="BaoDanCenter"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('BaoDanCenter').touched && formModel.get('BaoDanCenter').invalid">请填写办事处</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">会员账号</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="UserID" [readonly]="true" />
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('PassWord').touched && formModel.get('PassWord').invalid">
        <label class="control-label col-md-2">密码</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="PassWord" type="text"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('PassWord').touched && formModel.get('PassWord').invalid">6-16位英文或数字</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('Name').touched && formModel.get('Name').invalid">
        <label class="control-label col-md-2">姓名</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="Name"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('Name').touched && formModel.get('Name').invalid">请填写姓名</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('IDNumber').touched && formModel.get('IDNumber').invalid">
        <label class="control-label col-md-2">身份证号</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="IDNumber"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('IDNumber').touched && formModel.get('IDNumber').invalid">身份证号码格式错误</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('Phone').touched && formModel.get('Phone').invalid">
        <label class="control-label col-md-2">联系电话</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="Phone"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('Phone').touched && formModel.get('Phone').invalid">手机号码格式错误</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('WX').touched && formModel.get('WX').invalid">
        <label class="control-label col-md-2">微信号码</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="WX"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('WX').touched && formModel.get('WX').invalid">请填写微信号码</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">开户银行</label>
        <div class="col-md-10">
          <select class="form-control" formControlName="Bank">
            <option value="中国工商银行">中国工商银行</option>
            <!--<option value="中国银行">中国银行</option>-->
            <!--<option value="交通银行">交通银行</option>-->
            <option value="中国建设银行">中国建设银行</option>
            <option value="农业银行">中国农业银行</option>
            <!--<option value="招商银行">招商银行</option>-->
            <!--<option value="中国邮政储蓄银行">中国邮政储蓄银行</option>-->
            <!--<option value="兴业银行">兴业银行</option>-->
            <!--<option value="浦发银行">浦发银行</option>-->
            <!--<option value="民生银行">民生银行</option>-->
            <!--<option value="光大银行">光大银行</option>-->
            <!--<option value="广发银行">广发银行</option>-->
            <!--<option value="平安银行">平安银行</option>-->
            <!--<option value="中信银行">中信银行</option>-->
            <!--<option value="华夏银行">华夏银行</option>-->
            <!--<option value="北京银行">北京银行</option>-->
          </select>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('AccountName').touched && formModel.get('AccountName').invalid">
        <label class="control-label col-md-2">银行户名</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="AccountName"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('AccountName').touched && formModel.get('AccountName').invalid">请填写银行户名</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('BankAccount').touched && formModel.get('BankAccount').invalid">
        <label class="control-label col-md-2">银行账号</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="BankAccount"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('BankAccount').touched && formModel.get('BankAccount').invalid">请填写银行账号</span>
        </div>
      </div>

      <div class="form-group" [class.has-error]="formModel.get('BankBranch').touched && formModel.get('BankBranch').invalid">
        <label class="control-label col-md-2">开户支行</label>
        <div class="col-md-10">
          <input class="form-control text-box single-line" formControlName="BankBranch"/>
          <span class="field-validation-valid text-danger" *ngIf="formModel.get('BankBranch').touched && formModel.get('BankBranch').invalid">请填写开户支行</span>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">身份证正面</label>
        <div class="col-md-10">
          <input type="file" id="img1" ng2FileSelect [uploader]="uploader" (change)="file()" />
          <img src="{{getImg(formModel.get('IDPhoto').value)}}" alt="" height="100">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">银行卡</label>
        <div class="col-md-10">
          <input type="file" id="img2" ng2FileSelect [uploader]="uploader" (change)="file2()" />
          <img src="{{getImg(formModel.get('BankPhoto').value)}}" alt="" height="100">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">注册时间</label>
        <div class="col-md-10">
          <input type="text" class="form-control bsrp-time" placeholder="日期" formControlName="Times" (blur)="setSD($event.target.value)">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">激活时间</label>
        <div class="col-md-10">
          <input type="text" class="form-control bsrp-time" placeholder="日期" formControlName="ActivTime" (blur)="setED($event.target.value)">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button class="btn btn-success" (click)="onSubmit($event)" [disabled]="formModel.invalid">修改</button>
        </div>
      </div>

    </div>
  </form>
  <div>
    <a routerLink="/users">返回列表</a>
  </div>


  <app-footer></app-footer>
</div>
