<app-header></app-header>
<div class="body-content">
  <h2>管理员</h2>
  <p class="add" style="margin-bottom: 15px">
    <button class="btn btn-info" routerLink="/addadmin">添加管理员</button>
  </p>
  <table class="table">
    <tr>
      <th>
        用户名
      </th>
      <th>
        登记日期
      </th>
      <th>
        操作
      </th>
    </tr>
    <tr *ngFor="let admin of adminArr; let i = index">
      <td>
        {{admin['UserID']}}
      </td>
      <td>
        {{getTimes(admin['Times'])}}
      </td>
      <td class="operation">
        <a [routerLink]="['/modify', admin['ID']]">修改密码</a> | <a (click)="delete(admin['ID'], i)">删除</a>
      </td>
    </tr>
  </table>
  <app-footer></app-footer>
</div>
